<app-filter-textbox></app-filter-textbox>
<br />
<br />
<table class="table table-hover">
  <thead>
    <tr>
      <th (click)="sort('name')">Name</th>
      <th (click)="sort('city')">City</th>
      <th (click)="sort('orderTotal')">Order Total</th>
    </tr>
  </thead>
  <!-- gets displayed only if customers exist -->
  <tr *ngFor="let customer of filteredCustomers">
    <td>
      <a href="#">{{customer.name | capitalize}}</a>
    </td>
    <td>{{customer.city}}</td>
    <td>{{customer.orderTotal}}</td>
  </tr>
  <!-- only if customer exists -->
  <tr *ngIf="filteredCustomers && filteredCustomers.length">
    <td colspan="2">&nbsp;</td>
    <td>
      {{customersOrderTotal}}
    </td>
  </tr>
  <!-- if customer does not exist -->
  <tr *ngIf="!filteredCustomers || filteredCustomers.length">
    <td colspan="4">No customers found</td>
  </tr>
</table>
Number of Customers: {{filteredCustomers.length}}
<br />
